.bg-main{
    background: rgb(198,239,223);
    font-family: 'Playfair Display', serif;
    color: rgb(46, 46, 71);
    margin-bottom: 150px;
}


/* Home Section */
.main-section{
    /* background-image : linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
     url("../images/main-bg.jpg");
     background-size: cover; */
}
.main-section .display-1{
    font-weight: 500;
}
#aboutLink:hover{
    text-shadow: 0 0 5px #868686;
}



/*  Common Section */
section{
    overflow-y: auto;
}
h5{
    word-break: break-all;
}
/*  Common Section */




/* Footer */
.footer-container{
    position: fixed;
    bottom: 30px;
    width: 100%;
    z-index: 5;
}
.footer-container .menu{
    height: 100px;
    border-radius: 5px;
    width: 60%;
    margin: auto;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 0 50px;
    background-color: rgba(198,239,223,0.7);
}
.footer-container .menu .menu-item{
    text-shadow: 0 0 1px #e2e2ee;
    transition: 300ms;
    cursor: pointer;
}
.footer-container .menu .menu-item:hover{
    font-size: 1.2em;
}

/* Timeline */
/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container-timeline {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;;
  }

  .container-timeline:not(:first-child){
    margin-top: -100px;
  }
  
  /* The circles on the timeline */
  .container-timeline::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    right: -7px;
    background-color: rgb(46, 46, 71);
    border: 4px solid rgb(46, 46, 71);
    top: 25px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent rgb(46, 46, 71);
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent rgb(46, 46, 71) transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -8px;
  }
  
  /* The actual content */
  .content-timeline {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border: 5px solid rgb(46, 46, 71);
    box-shadow: 0px 8px 9px #2e2e4752, 0px 15px 9px #2e2e472b
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
    left: 31px;
    }
    
    /* Full-width containers */
    .container-timeline {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    margin-top: 0 !important;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .container-timeline::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 15px;
    }
    
    /* Make all right containers behave like the left ones */
    .right {
    left: 0%;
    }
}
/* Timeline */




/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2e2e4752;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(46, 46, 71);
  }
/* Custom Scrollbar */




/* Mobile CSS **/
@media only screen and  (max-width:768px){
    body{
        margin-bottom: 100px;
    }
    .footer-container{
        bottom: 0;
    }
    .footer-container .menu{
        font-size: 10px;
        width: 100%;
        padding: 5px;
        height: auto;
    }
    .footer-container .menu .menu-item h2{
        font-size: 15px;
    }
}
/* Mobile CSS **/